<br />

<% if @usd_internacional_price and @usd_in_clp %>

	<h2 align='center'><%= @crypto_short_name %> - Precios en los mercados internacionales</h2>

	<br />

	<ul>
		<li><strong>Valor del <%= @crypto_short_name %> en USD</strong>: <%= number_with_delimiter(@usd_internacional_price, delimiter: '.', separator: ",") %> USD</li>
		<li><strong>Valor del dolar en CLP</strong>: <%= number_with_delimiter(@usd_in_clp, delimiter: '.') %> CLP</li>
		<li><strong>Valor del <%= @crypto_short_name %> en CLP</strong>: <%= number_with_delimiter((@usd_in_clp * @usd_internacional_price).round(0), delimiter: '.') %> CLP</li>
	</ul>

	<p align='center'><small>Precios actualizaos cada 15 minutos.</small></p>

	<br />

<% end %>

<h2 align='center'><%= @crypto_short_name %> - Indicadores en Orionx</h2>

<%= line_chart [{name: 'Closing price', data: @chart}, {name: "SMA #{@sma_periods}", data: @sma}], ytitle: 'CLP', min: @min, max: @max, width: '100%', height: '350px' %>

<br />
<br />

<p align='center'><strong>RSI del último periodo</strong>: <%= @rsi.round(1) %></p>

<%= column_chart @vol, ytitle: 'OBV (On Balance Volume)', width: '100%', height: '350px', library: { hAxis: { textPosition: 'none'  } } %>

<br />

<div class='col-xs-2 col-xs-offset-5 text-center'>
	<%= form_tag({:controller => 'home', :action => 'prices'}, :method => 'get') %>
		<div class="form-group">
			<label for="usr">Currencies</label>
			<%= select_tag 'currency', options_for_select({'BTC/CLP': 'BTCCLP', 'ETH/CLP': 'ETHCLP', 'XRP/CLP': 'XRPCLP', 'XLM/CLP': 'XLMCLP', 'LTC/CLP': 'LTCCLP', 'CHA/CLP': 'CHACLP', 'LUK/CLP': 'LUKCLP', 'BCH/CLP': 'BCHCLP', 'DASH/CLP': 'DASHCLP'}, @currency), class: 'form-control' %>
		</div>

		<div class="form-group">
			<label for="usr">Time step</label>
			<%= select_tag 'aggregation', options_for_select({'1 Minute': 'm1', '5 Minutes': 'm5', '30 Minutes': 'm30', '1 Hour': 'h1', '6 Hours': 'h6', '1 Day': 'd1'}, @aggregation), class: 'form-control' %>
		</div>

		<div class="form-group">
			<label for="usr">Compare with</label>
			<%= select_tag 'sma_periods', options_for_select({'SMA 3 Periods': '3', 'SMA 8 Periods': '8', 'SMA 15 Periods': '15'}, @sma_periods), class: 'form-control' %>
		</div>

		<br />
	<%= submit_tag 'Go',  class: 'btn btn-primary mb-2' %>
</div>