<br />

<h1 align='center'><%= @currency %> (<%= @aggregation.capitalize %>) Historic prices from Orionx</h1>

<br />
<br />
<br />

<p align='center'><strong>RSI del último periodo</strong>: <%= @rsi.round(1) %></p>

<%= line_chart [{name: 'Closing price', data: @chart}, {name: "SMA #{@sma_periods}", data: @sma}], ytitle: 'CLP', min: @min, max: @max, width: '100%', height: '350px' %>

<%= column_chart @vol, ytitle: 'OBV (On Balance Volume)', width: '100%', height: '350px', library: { hAxis: { textPosition: 'none'  } } %>

<br />

<div class='col-xs-2 col-xs-offset-5 text-center'>
	<%= form_tag({:controller => 'home', :action => 'prices'}, :method => 'get') %>
		<div class="form-group">
			<label for="usr">Currencies</label>
			<%= select_tag 'currency', options_for_select({'BTC/CLP': 'BTCCLP', 'ETH/CLP': 'ETHCLP', 'XRP/CLP': 'XRPCLP', 'LTC/CLP': 'LTCCLP', 'CHA/CLP': 'CHACLP', 'LUK/CLP': 'LUKCLP', 'BCH/CLP': 'BCHCLP', 'DASH/CLP': 'DASHCLP', }, @currency), class: 'form-control' %>
		</div>

		<div class="form-group">
			<label for="usr">Time step</label>
			<%= select_tag 'aggregation', options_for_select({'1 Minute': 'm1', '5 Minutes': 'm5', '30 Minutes': 'm30', '1 Hour': 'h1', '6 Hours': 'h6', '1 Day': 'd1'}, @aggregation), class: 'form-control' %>
		</div>

		<div class="form-group">
			<label for="usr">Compare with</label>
			<%= select_tag 'sma_periods', options_for_select({'SMA 3 Periods': '3', 'SMA 8 Periods': '8', 'SMA 15 Periods': '15'}, @sma_periods), class: 'form-control' %>
		</div>

		<br />
	<%= submit_tag 'Go',  class: 'btn btn-primary mb-2' %>
</div>