<h1 align='center'>Historic prices from Orionx</h1>

<%= line_chart [{name: 'Close price', data: @chart}, {name: 'SMA 3', data: @sma_3}, {name: 'SMA 10', data: @sma_10}], min: @min, max: @max %>

<div class='col-md-4 form'>
	<%= form_tag({:controller => 'home', :action => 'prices'}, :method => 'get') %>
		<div class="form-group">
			<label for="usr">Currencies</label>
			<%= select_tag 'currencies', options_for_select(['CHACLP', 'XRPCLP']), class: 'form-control' %>
		</div>

		<div class="form-group">
			<label for="usr">Time step</label>
			<%= select_tag 'aggregation', options_for_select(['m5', 'm30', 'h1', 'h6', 'd1']), class: 'form-control' %>
		</div>
	<%= submit_tag 'Go',  class: 'btn btn-primary mb-2' %>
</div>
