<!DOCTYPE html>
<html>
  <head>
    <title>Orionx Prices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <!-- Bootstrap CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to 'Orionx Prices', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Orionx Prices Desktop', home_app_path, target: :_blank %></li>
        </ul>
      </div>
    </nav>
  
    <div class="row">
      <%= yield %>
      <%= yield :charts_js %>
    </div>

    <br />
    <hr />

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" style='text-align: center'>
        <h3>Apoyame con una donacion!</h3>

        <br />

        <p><strong>BTC</strong>: 174QFATJQvN1KHGuiGD5sNBLCj1VYjh7H9</p>
        <p><strong>LTC</strong>: LRTrptUzWGp3fZw7ZdiDL9HG6LrSrqQh7F</p>
        <p><strong>BCH</strong>: 13GRkZz5TrgxWHKsGAPmPYGzqaxRM6cFEb</p>
        <p><strong>DASH</strong>: XeLKQG9s6vC2m9u7h1oWxhQwYbNLxfd9uQ</p>
        <p><strong>CHA</strong>: cekZL8Aa1HdqSHWrQXL9dF7peTN6mNzyBn</p>

        <br />

        <p  style="text-align: center">Cualquier duda, sugerencia o critica pueden contactarme por</a>:</p>

        <p><strong>Telegram</strong>: @pcristi</p>
        <p><strong>Correo</strong>: oicitrapdraz@gmail.com</p>
      </div>
    </div>
  </body>
</html>
