<!DOCTYPE html>
<html>
  <head>
    <title>Orionx Prices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  <body>
    <br />
      
    <%= yield %>
    <%= yield :charts_js %>

    <hr>

    <br />
    <div class="col-ms-10 col-xs-offset-1" style='text-align: center'>
      <h3>Apoyame con una donacion!</h3>

      <br />

      <p><strong>CHA</strong>: cfM8JDdUxJeywPqhG35hmGLR2B3gHEFxm6</p>
      <p><strong>LUK</strong>: LPFXfaLY2JHjDHwqVQKEtJSjU9DT9RPGBPBXfuN6ybrbCjP4893AXjKh7kgkAxP3569F1BKmuSUeDTsE9m1jRdnB2xhCqXa</p>
      <p><strong>LTC</strong>: LiLRQYGhig9GcFtWQM73u9LymCQdUvNzBA</p>

      <p  style="text-align: center">Cualquier duda, sugerencia o critica pueden contactarme por</a>:</p>

      <p><strong>Telegram</strong>: @pcristi</p>
      <p><strong>Correo</strong>: oicitrapdraz@gmail.com</p>
    </div>
  </body>
</html>
