<!DOCTYPE html>
<html>
  <head>
    <title>Orionx Prices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <!-- Bootstrap CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to 'Otros sitios', nil, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Local Chile Crypto', 'https://local-chile-crypto.herokuapp.com/', target: :_blank %></li>
          <li><%= link_to 'Orionx Prices Desktop', home_app_path, target: :_blank %></li>
        </ul>
      </div>
    </nav>
      
    <%= yield %>
    <%= yield :charts_js %>

    <hr>

    <br />
    <div class="col-ms-10 col-xs-offset-1" style='text-align: center'>
      <h3>Apoyame con una donacion!</h3>

      <br />

      <p><strong>CHA</strong>: cfM8JDdUxJeywPqhG35hmGLR2B3gHEFxm6</p>
      <p><strong>LUK</strong>: LPFXfaLY2JHjDHwqVQKEtJSjU9DT9RPGBPBXfuN6ybrbCjP4893AXjKh7kgkAxP3569F1BKmuSUeDTsE9m1jRdnB2xhCqXa</p>
      <p><strong>LTC</strong>: LiLRQYGhig9GcFtWQM73u9LymCQdUvNzBA</p>

      <p  style="text-align: center">Cualquier duda, sugerencia o critica pueden contactarme por</a>:</p>

      <p><strong>Telegram</strong>: @pcristi</p>
      <p><strong>Correo</strong>: oicitrapdraz@gmail.com</p>
    </div>
  </body>
</html>
