<!DOCTYPE html>
<html>
  <head>
    <title>Orionx Prices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  <body>
    <br />
      
    <%= yield %>
    <%= yield :charts_js %>

    <hr>

    <br />
    <div class='container'>
      <div style='text-align: center'>
        <h5>Cualquier tipo de ayuda por más pequeña que sea se agradece!</h5>

        <br />

        <p><strong>BTC</strong>: 174QFATJQvN1KHGuiGD5sNBLCj1VYjh7H9</p>
        <p><strong>XRP</strong>: rhQrkgoV4uza557mW6HbBWMtTDkB7u5yrs</p>
        <p><strong>CHA</strong>: cekZL8Aa1HdqSHWrQXL9dF7peTN6mNzyBn</p>
      </div>
    </div>
  </body>
</html>
